# PostgreSQL
POSTGRES_DB=sos_db
POSTGRES_USER=sos_user
POSTGRES_PASSWORD=localpass123

# MongoDB
MONGO_USERNAME=sos_user
MONGO_PASSWORD=localpass123
MONGO_DB=sos_db

# RabbitMQ
RABBITMQ_USER=sos_user
RABBITMQ_PASSWORD=localpass123

# jwt
JWT_SECRET=
VERIFICATION_TOKEN_SECRET=
